<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @purchase.shop %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @purchase.stock %>
</p>

<p>
  <strong>Initial existence:</strong>
  <%= @purchase.initial_existence %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @purchase.purchase_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @purchase.sale_price %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
