<p id="notice"><%= notice %></p>

<h1>Listing Saledetails</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saledetails.each do |saledetail| %>
      <tr>
        <td><%= saledetail.sale %></td>
        <td><%= saledetail.product %></td>
        <td><%= saledetail.quantity %></td>
        <td><%= link_to 'Show', saledetail %></td>
        <td><%= link_to 'Edit', edit_saledetail_path(saledetail) %></td>
        <td><%= link_to 'Destroy', saledetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saledetail', new_saledetail_path %>
