
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Prices</h1>
<br>
<%= link_to 'New Price', new_price_path , :style=>"text-decoration: none; color: white; margin-bottom: 20px", :class=>"btn btn-primary"%>

<table class="table table-dark table-striped table-hover">
  <thead>
    <tr style="text-align: center;">
      <th>Product</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @pricesproducts.each do |price| %>
      <tr>
        <td><%= price.product.name %></td>        
        <td><%= price.purchase_price %></td>
        <td><%= price.sale_price %></td>
        <td><%= link_to 'Show', price , :style=>"text-decoration: none; color: white;" , :class=>"btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_price_path(price) , :style=>"text-decoration: none; color: white;" , :class=>"btn btn-warning"%></td>
        <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } , :style=>"text-decoration: none; color: white;", :class=>"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

</div>